@font-face {
	font-family: "SFProText-Semibold";
	src:url("fonts/SFProText-SemiBold.ttf");
}

@font-face {
	font-family: "SFProText-Regular";
	src:url("fonts/SFProText-Regular.ttf");
}

@font-face {
	font-family: "SFProText-Medium";
	src:url("fonts/SFProText-Medium.ttf");
}

@font-face {
	font-family: "SFProText-Light";
	src:url("fonts/SFProText-Light.ttf");
}
