// Variables

//Color Variables
//
$blue:  #0a9ac9;
$light-blue: #79c7e1;
$medium-blue: #0ba3d4;
$dark-blue: #0087b4;

//
$pink: #ee596f;
$green: #22a7a7;
$yellow: #fad36e;

//
$black: #212121;
$dark: #616161;
$medium: #bdbdbd;
$light: #e7e7e7;
$modal: #616161;

//
$highlight: #f5f5f5;
$background: #f9f9f9;
$white : #ffffff;

//
$primary-font-color: #616161;
$secondary-font-color: #ffffff;
$alternative-font-color: #212121;
